certifi==2024.8.30
charset-normalizer==3.4.0
config==0.5.1
idna==3.10
paho-mqtt==2.1.0
pyscard==2.2.0
PySide6
PySide6_Addons
PySide6_Essentials
requests==2.32.3
shiboken6
urllib3==2.2.3
certifi==2024.8.30
charset-normalizer==3.4.0
config==0.5.1
idna==3.10
paho-mqtt==2.1.0
pyscard==2.2.0
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
requests==2.32.3
shiboken6==6.8.2.1
urllib3==2.2.3
